* {
    padding: 0%;
    margin: 0%;
    font-family: Tajawal;

}
.head {
    width: 280px;
    height: 60px;  
    padding-left: 180px;
}
nav {
   display: flex; 
   align-items: center;
   justify-content: flex-end;
   margin-right: 220px;
   margin-top: -35px;

}
nav ul li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
     
}
nav ul li .list li {
    display: block;
   
}
nav ul li a:hover {
    color:#66CDAA
}
nav ul li .list {
    display: none;
    position: absolute;
}
nav ul li:hover .list {
    display: flex;
    flex-direction: column;
    height: 200px;
    justify-content: space-around;
    background-color: white;
    box-shadow: 1px 1px 10px 1px gray;
}
.list li:hover{
    background-color: #dfdddd;
    height: 35px;
}
.posit{
    position:fixed;
    width: 100%;
    height: 70px;
    background-color:white;
}
a {
    text-decoration: none;
    color: #9e9e9e;
    font-size: 17px ;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#secondimage{
    display: block;
    margin-left: 50%;
    padding-top: 9%;
}

.pro{
    display: flex;
    flex-direction: row;
    font-size: 18px;
    font-weight: bold;
    color: #575555;
}
    
#firsth{
    color: #66CDAA;
    text-align: center;
    padding-top: 35px;
    font-size: 40px;
    padding-bottom: 50px;
}
.firstp{
    padding-top: 10px;
    padding-left: 200px;
    width: 475px;
}
.secondp{
    padding-top: 10px;
    padding-left: 20px;
    width: 475px;
}
.patient{
    background-color: #00ccb1;
    width: 260px;
    height: 275px;
    border-radius: 3%;
    padding-top: 60px;
    padding-left: 32px;
    padding-right: 32px;
}
.doctor{
    background-color: #3e83e0;
    width: 260px;
    height: 275px;
    border-radius: 3%;  
    padding-top: 60px; 
    padding-left: 32px;
    padding-right: 32px;

}
.clinic{
    background-color: #1b2735;
    width: 260px;
    height: 275px;
    border-radius: 3%;
    padding-top: 60px;
    padding-left: 32px;
    padding-right: 32px;

}
.high{
    margin-top: 90px;
    margin-left: 180px;
    margin-right: 150px;
    display: flex;
    color: white;
    flex-direction: row;
    justify-content: space-around;
    font-size: 25px;   
}
option{
    color: black;
    font-weight: 600 ;
    
}
#pos1 {
    position: relative;
    top: 35px;
    text-decoration: underline;
    background-color: transparent;
    color: white;
    font-weight: 600;
    font-size: 20px;
    border: none;
}
#pos2 {
    position: relative;
    top: 70px;
    text-decoration: underline;
    color: white;
    text-decoration: underline;
    background-color: transparent;
    border: none;
    font-size: 20px;
    font-weight: 600;
}
#pos3 {
    position: relative;
    top: 0px;
    text-decoration: underline;
    color: white;
    background-color: transparent;
    border: none;
    font-size: 20px;
    font-weight: 600;
    ;
}
#pos4 {
    position: relative;
    top: 0px;
    text-decoration: underline;
    color: white;
    background-color: transparent;
    border: none;
    font-size: 20px;
    font-weight: 600;
}
h4{
    position: relative;
    top: -25px
}
i{
    position: relative;
    top: -27px;
}
.high p {
    position: relative;
    top: -20px;
}
.high2 {
margin-left: 190px;
margin-top: 50px;
margin-right: 4%;
display: flex;
flex-direction: row;
}
.pro2 {
    color: #00B39B;
    font-weight: 300;
    font-family: "Work Sans", Arial, sans-serif ;
    font-size: 17px;
}
.mai img {
    scale: 0.6;
    filter: grayscale(100%);
    opacity: 0.3;
}
.mai img:hover {
    filter: grayscale(0%);
    opacity: 1;
}
.mai ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin-left: 12%;
    align-items: center;
    justify-content: flex-start;
}
.grid {
    background:#E5FAF8;
    margin-top: 4%;
    background-image: linear-gradient( 45deg, rgba(0,204,177,.01), rgba(61,199,233,.01));
    display: grid;
    grid-template-columns: 52% 17% 1.5% 17% 3% ;
    grid-template-rows: 600px;
    overflow: hidden;
}
.grid1{
    padding-top: 8%;
    padding-left: 7%;
}
.gridh1{
    font-size: 33px;
    color: #00B39B;
    width: 65%;
    height: 88px;
    font-weight: 300;
    font-family: "Work Sans", Arial, sans-serif ;
    padding-left: 23%;
}
.gridp1{
    font-size: 16px;
    width: 65%;
    font-weight: 600;
    padding-left: 23%;
}
.grid img {
    width: 75%;
    height: 80%;
    padding-top: 10%;
    
}
.flag, .patients, .visits, .doctors{
    background-color: white;
    height: 250px;
    border-radius: 4%;
}
.grid2 img, .grid3 img {
    width: 40px;
    height: 35px;
    padding-left: 40%;
}
.grid2 h1, .grid3 h1{
    color: #00B39B;
    font-family: "Work Sans", Arial, sans-serif ;
    font-weight: 300;
    text-align: center;
}
.grid2 p, .grid3 p {
    font-weight: 600;
    font-size: 15px;
    text-align: center;
    width: 90%;
    padding-left: 3%;
}
.forever h1 {
    padding-top: 6%;
    padding-left: 35%;
    width: 30%;
    color: #00B39B;
    font-size: 1.8em;
    font-family: "Work Sans", Arial, sans-serif ;
    font-weight: 300;
    text-align: center;
}
.forever p {
    font-weight: 600;
    padding-top: 2%;
    padding-left: 34%;
    width: 34%;
    text-align: center;
}
.images{
    margin-top: 5%;
    margin-left: 13.8%;
    margin-right: 11.5%;
    justify-content: flex-start;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.war1{
    display: flex;
    flex-direction: row;
    padding-left: 6%;
    padding-right: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    justify-content: space-between;
    color: black;
    font-weight: 600;
    font-size: 19px;
}
.bouton {
   font-size: 12.5px;
   padding-left: 5%;
   width: 90px;
   line-height: 25px;
   height: 25px;
   background-color: #3e83e0;
   color: white;
   border-radius: 5%;
}
.bouton:hover{
    background-color: blue;
}
.war, .bar, .mun, .ist, .rome, .bolo, .cur, .mex {
    margin-right: 23px;
    margin-bottom: 2%;
    border-radius: 2%;
    height: 350px;
} 
.war:hover, .bar:hover, .mun:hover, .ist:hover, .rome:hover, .bolo:hover, .cur:hover, .mex:hover{
box-shadow: 1px 1px 10px 1px gray ;
}
.lasts h1{
    margin-top: 5%;
    font-size: 30px;
    text-align: center;
    font-family: "Work sans";
    font-weight: 400;
}
.lasts div {
    margin-top: 2%;
    margin-left: 42%;
    width: 210px;
    height: 40px;
    background-color: #3e83e0;
    border-radius: 5%;
}
.lasta {
    font-size: 13px;
    color: white;
    position: relative;
    left: 15px;
    top: 9px;
    font-weight:600;
    font-family: "Work sans";
}
.lasts div:hover{
    background-color: blue;
}
footer{
    margin-top: 6%;
    text-align: center;
    font-size: 15px;
    font-weight: 700;
}
.foot {
    color:#3e83e0
}
hr {
    font-weight: 100;
    opacity: 0.3;
}






